//Dummy content
$color: #4682b4;
$color2: #5bc0de;


body,
html {
  background-color: #4682b4;
}

.app-container {
  background-color: #4682b4;
}

.card-body {
  background-color: #5bc0de;
}

.col {
  background-color: #4682b4;
}